.social-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.social-bar .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social-bar .social a {
    font-size: 22px;
    margin-right: 10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.social-bar .social a:hover {
    opacity: .8;
}
.social-bar > button.theme-btn svg {
    margin-left: 5px;
}



@media only screen and (max-width:767px) {
    .social-bar {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    .social-bar .social {
        width: 100%;
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 10px;
    }
}









