.dashboard {
    width: 100%;
    /* min-height: 800px; */
    min-height: 100vh;
    position: relative;
    background-size: cover !important; 
    padding-top: 40px;
    padding-bottom: 30px;
}
.dlist {
    font-size: 15px;
    padding-left: 10px;
}
.dlist li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 24px;
}
.dlist li span:first-child {
    width: 155px;
    display: inline-block;
}
.dlist li span:last-child{
    color: #fff;
} 
.smf-data h5 {
    font-weight: 300;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.smf-data h5 img {
    margin-right: 5px;
}

.smf-data h5 small {
    margin-left: 10px;
}
.help_center ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70px;
    height: 70px;
    border: 1px solid #5f56bb;
    margin-right: 10px;
    background: rgba(45, 38, 138, 0.5);
    -webkit-box-shadow: inset 0px 0px 7px rgb(255 255 255 / 25%);
            box-shadow: inset 0px 0px 7px rgb(255 255 255 / 25%);
    border-radius: 10px;
    margin-top: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
}
.help_center ul li img {
    height: 30px;
}
.help_center ul li:hover {
    background: #292460;
}
button.goback {
    border: none;
    padding: 0;
    margin-bottom: 25px;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background: rgba(45, 38, 138, 0.3);
    -webkit-box-shadow: inset 0px 0px 7px rgb(255 255 255 / 25%);
            box-shadow: inset 0px 0px 7px rgb(255 255 255 / 25%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
} 

button.goback svg path {
    fill: #DDDDFB;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

button.goback:hover svg path {
    fill: #fff;
}

button.goback:hover {
    background: #3c3679e8;
}
.contentBlk .btns {
    position: absolute;
    top: 60%;
    right: 15px;
    width: 95px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.contentBlk .btns button.theme-btn {
    width: 100%;
}

.contentBlk .btns button.theme-btn:last-child {
    margin-top: 5px;
}
.help_center ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.smf-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.smf-data-right > div > label,.smf-data-right > div > select {
    display: none;
}
.smf-data-right {
    width: 100%;
}
.a_days {
    display: block;
    position: absolute;
    top: 45%;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    /* background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), color-stop(77.84%, rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 77.84%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 77.84%); */
    border-radius: 10px;
    padding-right: 15px;
}

.a_days button {
    display: block;
    border: none;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.2)), color-stop(87.89%, rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 87.89%);
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 87.89%);
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0;
    width: 30px;
    font-size: 14px;
    height: 30px;
    margin: 15px 0;
}
.dasboard_contents_here {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 100vh;
} 
.dashboard .container {
    max-width: 100%;
    padding: 0 30px;
}
.dasboard_contents_here .header {
    width: 300px;
    overflow: hidden;
    position: unset;
}

.dasboard_contents_here .the_contents {
    width: 100%;
}






@media only screen and (max-width:991px) {
    .dashboard {
        width: 100%;
        min-width:auto;
        height: auto; 
    }

} 

@media only screen and (max-width:767px) {
    .contentBlk .btns {
        position: unset;
        width: 90%;
        -webkit-transform: unset;
            -ms-transform: unset;
                transform: unset;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; 
        margin: auto;
        margin-top: 15px;
    }
    .contentBlk .btns button.theme-btn:last-child {
        margin-top: 0px;
        margin-left: 5px;
    }
    .dlist {
        font-size: 13px;
        padding-left: 5px;
    }
    .dlist li span:first-child {
        width: 130px; 
    }
    .dlist li { 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        overflow: hidden;
    }
    .dlist li span:first-child { 
        min-width: 100px;
    }
    .help_center ul li { 
        width: 50px;
        height: 50px; 
    }
    .help_center ul li img {
        height: 25px;
    }
    .smf-data {
        display: block;
    }
    .smf-data-right { 
        position: relative;
        margin-top: 10px;
    }
    .a_days button { 
        width: 25px;
        height: 25px;
        margin: 5px 0;
        font-size: 12px;
    }










}




