form.antiScamAiForm label {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

form.antiScamAiForm label input {
    display: block;
    width: 100%;
    background: rgba(45, 38, 138, 0.3);
    -webkit-box-shadow: inset 0px 0px 7px rgb(255 255 255 / 25%);
            box-shadow: inset 0px 0px 7px rgb(255 255 255 / 25%);
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    color: #fff;
}

form.antiScamAiForm {
    padding-left: 10px;
}

form.antiScamAiForm button.theme-btn {
    display: block;
    margin: auto;
    margin-top: 10px;
}










.scror_contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
}

.scror_contents > div {
    margin: 0 10px;
    margin-top: 25px;
    max-width: 185px;
}
.scror_contents > div h3.innerHeading {
    margin: 0;
    color: white;
}
/* .scror_contents > div:last-child {
    max-width: 250px;
} */
.score-details h3 {
    text-align: center;
    margin-top: 40px;
}
.score-details {
    padding-bottom: 20px;
}
.scror_contents .progBlk button.theme-btn {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    display: block;
    margin: auto;
    margin-top: 15px;
}
div#MoreContentsModal .modal-content {
    background: #221c56; 
}
 
div#MoreContentsModal .modal-content .modal-header h5 { 
    font-weight: 700;
    font-size: 24px;
}

div#MoreContentsModal h4 { 
    text-align: center;
}
div#MoreContentsModal .modal-header button.btn-close {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-filter: invert(1);
            filter: invert(1);
}

















